<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <h1>REMINDERS INDEX</h1>
    <%= link_to "Create New Reminder", new_reminder_path, data: { turbo_frame: dom_id(Reminder.new) } %>
  <% end %>

  <%= turbo_frame_tag Reminder.new %>

  <%= turbo_frame_tag "reminders" do %>
    <%= render @reminders %>
  <% end %>
</main>
