<%= turbo_frame_tag "first_turbo_frame" do %>
  <section class="reminders__header">
    <h2>Reminders</h2>
    <%= link_to "Create New Reminder", new_reminder_path, data: { turbo_frame: dom_id(Reminder.new) }, class: "button" %>
  </section>
  <hr />
<% end %>

<%= turbo_frame_tag Reminder.new %>

<%= turbo_frame_tag "reminders" do %>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Text</th>
        <th>Run at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @reminders.any? %>
        <%= render @reminders %>
      <% else %>
        <tr>
          <td colspan="3">
            You have no reminders yet...
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
