<h1>New Reminder</h1>

<%= form_with model: @reminder do |f| %>
  <div>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <div>
    <%= f.label :run_at %>
    <%= f.datetime_select :run_at, default: 3.days.from_now, ampm: true, default: 0.days.from_now.in_time_zone("America/Denver") %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
