<h1>New Reminder</h1>

<%= turbo_frame_tag @reminder do %>
  <%= form_with model: @reminder do |f| %>
    <div class="row">
      <div class="six columns">
        <%= f.label :text %>
        <%= f.text_field :text, class: "u-full-width" %>
      </div>
      <div class="six columns">
        <%= f.label :run_at %>
        <%= f.datetime_select :run_at, ampm: true, default: 3.days.from_now.in_time_zone(current_user.timezone) %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    </div>
  <% end %>
<% end %>
